<div class="Form">
  <div class="Form-Item">
    <p class="Form-Item-Label"><span class="Form-Item-Label-Required"></span>見積もり金額</p>
     <%= @estimation.sum_price %>
  </div>
</div>


  <div class="Form">
    <div class="Form-Item">
      <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>部屋の広さ</p>
      <%= @estimation.wide.name %>畳
    </div>
    <div class="Form-Item">
      <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>天井を含むか</p>
      <%= @estimation.ceilling.name %>
    </div>
    <div class="Form-Item">
      <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>壁紙のグレード</p>
      <%= @estimation.grade.name %>
    </div>
  </div>