
<div class="lp-block-1">
    <h2 class="lp-title-1">壁紙が違うだけで世界が変わります</h2>
    <p class="lp-text">あなたの家の壁紙をどこよりも安く修繕・リフォームしてみませんか？</p>
    <div class="lp-button">
        <%= link_to '簡単10秒見積もりはこちら', new_estimation_path, class: "lp-button-a" %>
        <%= link_to '訪問見積もり予約はこちら', new_address_path, class: "lp-button-a" %>
    </div>
</div>


<div class="lp-band">
    <h2 class="lp-title-2">詳細はこちら</h2>
    <p class="lp-text">↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓</p>
</div>

<div class="lp-block-2">
</div>
<div class="lp-button">
        <%= link_to '簡単10秒見積もりはこちら', new_estimation_path, class: "lp-button-a" %>
        <%= link_to '訪問見積もり予約はこちら', new_address_path, class: "lp-button-a" %>
</div>


    
<hr class="lp-line">


<div class="lp-block">
    <h2 class="lp-title-1">約束いたします</h2>
    <p class="lp-text">私に任せて貰えば以下の要件を約束します。</p>
    <ul class="lp-list">
        <li class="lp-item">納期までに必ず仕上げます。</li>
        <li class="lp-item">どこよりもリーズナブルな値段設定です。</li>
        <li class="lp-item">お部屋の養生もきちんと行います。</li>
        <li class="lp-item">満足いかない箇所は無料修繕いたします。</li>
        <li class="lp-item">新しい空間を提供いたします。</li>
    </ul>
</div>