.lp-block{
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}

.lp-block-1{
  background-color: #fff;
  background-image: url("2614930_m.jpg");
  background-size:cover;
  height: 500px;
}

.lp-title-1{
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  padding-top: 150px;
}

.lp-text{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}

.lp-button{
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  
}

.lp-button-a {
	display: inline-block;
	width: 300px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background:#F1322C;
	border-bottom:4px solid #AD2022;
	border-radius: 4px;
}
.lp-button-a:hover {
	 cursor: pointer;
	 text-decoration: none;
	 background:#AD2022;
	 transform: translate3d(0, 4px, 0);
	 border-bottom: none;
}

.lp-band{
  background-color: aquamarine;
}
.lp-title-2{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.lp-block-2{
  background-color: #fff;
  background-image: url("wallpaper_1.jpg");
  background-size:cover;
  height: 500px;
}

.lp-list{
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

ul {
  padding: 0;
  position: relative;
}

ul li {
  color: #2d8fdd;
  border-left: solid 6px #2d8fdd;/*左側の線*/
  background: #f1f8ff;/*背景色*/
  margin-bottom: 3px;/*下のバーとの余白*/
   line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
}